{% extends "main.html" %}
{% block body %}
  <div class="categories">
    <div class="cat_nav" onclick="window.location='{{ url_for('showCatalog') }}';">
      Home
     </div>
  {% for c in categories %}
    <div class="cat_nav" onclick="window.location='{{ url_for('showItems', category_id=c.id) }}';">
      {{ c.name }}
    </div>
  {% endfor %}
  </div>
  <div class="content">
  {% block content %}
  	<div class="catalog_opts">
      {% if user_logged_in %}
  		<a href="{{ url_for('newItem') }}">Add Item</a>
      {% endif %}
  	</div>
  	<div class="latest_items">
  		<p><h2>Latest items:</h2></p>
  		{% for i in items %}
	  		<a href="{{ url_for('showItem', item_id=i.id) }}">{{i.name}}
	  			{% for c in categories %}
	  			  {% if i.category_id == c.id %}
	  			    ({{ c.name}})
	  			  {% endif %}
	  			{% endfor %}
	  		</a>
	  		</br>
  		{% endfor %}
  	</div>
  {% endblock %}
  </div>
{% endblock %}
