<!doctype html>
<html>
  <head>
    <title>My Catalog App</title>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js">
    </script>
    <script src="https://apis.google.com/js/client:platform.js?onload=start" async defer>
    </script>
  </head>
  <body>
    <div class=page>
      <div class=page_header>
        <div class=header_left>
        <h1><a href="{{ url_for('showCatalog') }}" class="title">Catalog project</a></h1>
        </div>
        <div class=user>
          <span class="lbutton" onclick="window.location={% if user_logged_in %}'/disconnect';">
            Logout
          {% else %}'/login';">
            Login
          {% endif %}
          </span>
        </div>
        {% for message in get_flashed_messages() %}
          <div class=flash>{{ message }}</div>
        {% endfor %}
      </div>
      <div class=main>
      {% block body %}{% endblock %}
      </div>
      <div style="clear:both">
    </div>
  </body>
</html>
