h1 {
    color: #336688;
}

h1, h2 {
  font-family: 'Georgia', serif;
  margin: 0;
}

div {
  padding: 0.2em;
  margin: 0.2em;
}

a.title  
{
  color: inherit;
  text-decoration:none;
}

span.lbutton {
  color: white;
}

span.lbutton:hover {
  cursor: pointer;
  color: #FF9900;
}

div.cat_nav {
  margin: 2px;
  border: 3px #ccc;
  border-style: solid;
  border-radius: -25px;
  background: #336688;
  text-align: center;
  color: white;
}

div.cat_nav:hover {
  cursor: pointer;
  border-color: #FF9900;
}

.f-signin {
  position: absolute;
}

.page {
  min-height: 400px;
  max-width: 66%;
  margin: auto;
  padding: 1em;
  background: white;
  overflow: auto;
}

.page_header {
  min-width: 356px;
  width: 100%;
  background: white;
  display: flex;
}

.header_left {
  float: left;
  border-bottom: 2px solid #FF9900;
  flex: 1;
  margin-right: 0px;
}

.user {
  border-bottom: 2px solid orange;
  padding-top: 1em;
  margin-left: 0px;
  background: #336688;
  min-width: 60px;
  text-align: center;
}

.flash {
  background: #eee;
}

.main {
  border: 3px solid #336688;
  width: 75%;
  max-width: 1200px;
  min-width: 300px;
  min-height: 600px;
  margin: 0 auto;
  color: #336688;
  background: #ccc;
  display: flex;
}

.categories {
  float: left;
  color: #336688;
  background: white;
  flex: 1;
}

.content {
  color: #336688;
  float: left;
  background: white;
  flex: 3;
}

.latest_items {
  text-align: center;
}

.category_items {
}

.item_header {
  background: #bbb;
}

.item_content {
  background: #aea;
}

.item_image {
  float: left;
  min-height: 100px;
  min-width: 100px;
  background: #ace;
}

.item_desc {
  overflow: hidden;
  word-wrap: break-word;
  float: top;
  background: #eca;
  min-height: 150px;
}

.item_opts {
  float: left;
  background: #acc;
}

.new_item {
  background: #ccc;
}
